* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: linear-gradient(120deg, #f093fb 0%, #f5576c 50%, #4facfe 100%);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: var(--calc-background);
    width: 100%;
    max-width: 375px;
    min-height: 640px;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    overflow: hidden;
    position: relative;
}

.display {
    min-height: 200px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    color: var(--keys-color);
    text-align: right;
    flex: 1;
}

.operation {
    font-weight: normal;
    font-size: 2rem;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}

.result {
    font-size: 2.5rem;
    font-weight: bold;
    overflow-x: auto; 
    overflow-y: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%; 
    -webkit-overflow-scrolling: touch; 
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.result::-webkit-scrollbar {
    display: none; 
}

.operation .value,
.result .value {
    white-space: nowrap;
}

.drawer {
    background-color: var(--drawer-background);
    position: absolute;
    bottom: 0;
    left: -200px;
    transition: left 0.2s ease;
    z-index: 0;
    padding: 1.0rem;
    border-radius: 1.2rem 1.2rem 0 0;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1rem;
    box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
    .drawer {
        left: -100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .drawer {
        left: -150px;
    }
}

.drawer .drawer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.drawer button {
    width: calc(20.33% - 5px);
    padding: 15px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: start;
    cursor: pointer;
    margin-bottom: 10px;
    background: transparent;
    box-shadow: var(--drawer-btn-shadow);
    outline: 0;
    color: #FFF;
    background: #14b990;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drawer button:hover {
    background-color: #192838;
}

.drawer .toggle-btn {
    width: calc(20.33% - 5px);
    padding: 15px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    text-align: start;
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: bold;
    background: transparent;
    background-color: var(--buttons-background);
    box-shadow: -3px -3px 3px rgb(203, 197, 179), 5px 5px 15px rgba(12, 18, 26, 0.2);
    outline: 0;
    color: var(--keys-color);
    transition: background-color 0.3s ease;
    z-index: 2;
}

.display .operator {
    color: #de5757;
}

.keys {
    background-color: var(--buttons-background);
    padding: 1.5rem;
    border-radius: 1.5rem 1.5rem 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1rem;
    box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.2);
}

.keys .key {
    position: relative;
    cursor: pointer;
    display: block;
    height: 0;
    padding-top: 100%;
    background-color: #1e0850;
    border-radius: 10px;
    transition: 0.2s;
    user-select: none;
    background: transparent;
    box-shadow: -5px -5px 5px rgba(151, 118, 17), 5px 5px 15px rgba(46, 22, 151, 0.2);
    outline: 0;
    box-shadow: var(--num-shadow);
    background: var(--num-background);
    border: hidden;
}

.keys .key span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: 700;
}

.keys .key {
    color: var(--keys-color);
}

.keys .key:hover {
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.key.operator {
    background: white;
    box-shadow: var(--eql-shadow);
    color: #ed9d1e;
}

.keys .key.action span {
    color: var(--keys-color);
}

.mode {
    position: absolute;
    cursor: pointer;
    right: 12px;
    top: 12px;
    width: 50px;
    height: 50px;
    display: grid;
    place-content: center;
    border-radius: 25px;
    border-top-right-radius: 0px;
    background: var(--mode-bk);
}

.fa-moon {
    color: #ffffff;
}

.fa-sun {
    color: #FFE551;
}

:root {
    --drawer-background: rgb(216, 216, 216);
    --calc-background: #16181f;
    --keys-color: #fff;
    --buttons-background: #2a2e3b;
    --calc-shadow: 30px 30px 55px #888;
    --num-background: linear-gradient(to bottom right, #292d38, #3c3c44);
    --num-shadow: inset 4px 4px 1px #4e5267, inset 5px 5px 15px #20242f, 4px 4px 5px #14161e;
    --drawer-btn-shadow: inset 4px 4px 3px #ebebf2, inset 4px 4px 15px #cacfd6, 3px 3px 12px #c2c7d4;
    --eql-shadow: inset 1px 1px 2px #f9aa2d99, inset 5px 5px 15px #a54e04, 4px 4px 5px #181b24;
    --c-background: linear-gradient(to bottom right, #494f5c, #6f7587);
    --c-shadow: inset 1px 1px 1px #656b7b, inset 5px 5px 15px #333942, 4px 4px 5px #181b24;
    --font-color: #FFF;
    --mode-bk: #FFF2;
}

[data-theme="light"] {
    --drawer-background: #2a2e3b;
    --calc-background: white;
    --keys-color: #000;
    --buttons-background: rgb(216, 216, 216);
    --calc-shadow: 30px 30px 55px #CCC;
    --num-background: linear-gradient(to bottom right, #c0c5d2, #edeef4);
    --num-shadow: inset 4px 4px 3px #ebebf2, inset 4px 4px 15px #cacfd6, 3px 3px 12px #c2c7d4;
    --drawer-btn-shadow: inset 4px 4px 1px #4e5267, inset 5px 5px 15px #20242f, 4px 4px 5px #14161e;
    --eql-background: linear-gradient(to bottom right, #d36d12, #ed9d1e);
    --eql-shadow: inset 1px 1px 3px #f98500, inset 4px 4px 15px #b35300, inset -1px -1px 3px #cc6308, 3px 3px 5px #c2c7d4;
    --c-background: linear-gradient(to bottom right, #8b94a1, #eff0f6);
    --c-shadow: inset 1px 1px 1px #c8ced8, inset 2px 2px 8px #cacfd5, inset -2px -2px 3px #b4bbc6, 3px 3px 12px #c2c7d4;
    --font-color: #222;
    --mode-bk: #0025;
}

.active-angle {
    background-color: #585f07 !important;
    color: #FFF !important;
    border-radius: 10px !important;
}
